dump-*
convert
codegen
generated.java
inputs/
runtime/
tmp/
debug/
codegen.exe
*.class
tests.cell
projects/tests.txt
generated.cpp
generated.cs
java.hprof.txt
bin/compiler.jar
codegen.jar
Tests.java
bin/cellc-java
bin/cellc-java.jar
bin/cellcd-java.jar
bin/cellcd-java
src/cell/main-lexer.cell
bin/cellcd-java-0.?.jar
bin/cellcd-java-0.?.?.jar
bin/cellc-java-0.?.jar
bin/cellc-java-0.?.?.jar
bin/cellc-java-0.?.?.?.jar
bin/cellc-java-0.?.?.??.jar
cellc-java.jar
data/insertions.txt
data/deletions.txt
